// media 375px
@media screen and (min-width: 375px) {
    .header-menu {
        width: 100%;
        display: none;
        justify-content: center;
        .menu {
            width: 80%;
            background: #686887;
            border-radius: 12px;
            padding: 15px 4%;
            text-align: center;
            .menu__exit-list {
                text-align: end;
                .menu__exit-btn {
                    background-color: #686887;
                    border-radius: 8px;
                    &:hover {
                        background-color: #E6E6F0;
                        transition: all .3s;
                        cursor: pointer;
                    }
                }
            }
            .menu__list {
                padding: 20px 0;
                .menu__link {
                    font-size: 1.5rem;
                    display: block;
                    font-weight: 700;
                    color: $mainColorWhite;
                    &:hover {
                        @include title;
                        transition: all .3s;
                        transform: scale(1.1);
                    }
                }
                .active-page {
                    color: $primaryColor;
                }
            }
        }
    }
    .active {
        display: flex;
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
    }
}

// media 768px
@media screen and (min-width: 768px) {
    .header-menu {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .menu {
            width: fit-content;
            display: flex;
            background: none;
            padding: 0;
            gap: 0 15px;
            .menu__exit-list {
                display: none;
            }
            .menu__list {
                padding: 0;
                .menu__link {
                    font-size: 1rem;
                }
            }
        }
    }
}

// media 1024px
@media screen and (min-width: 1024px) {
    .header-menu {
        justify-content: flex-end;
    }
}