// media 375px
@media screen and (min-width: 375px) {
    .clients {
        .clients__title {
            padding: 60px 0 30px;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            text-align: center;
            color: $secondaryColor;
        }
        .clients__wprapp {
            .clients__item {
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .clients__item--blue {
                background: #1C4280;
            }
            .clients__item--dark {
                background: #143646;
            }
            .clients__item--gradient-orange {
                background: #F48B30;
            }
            .clients__item--purpur {
                background: #9E4DC3;
            }
            .clients__item--orange {
                background: #FD9339;
            }
            .clients__item--gray {
                background: #E2E2E4;
            }
            .clients__item--red {
                display: none;
                background: #C71C36;
            }
            .clients__item--white {
                display: none;
                background: #DCF3F9;
            }
            .clients__item--bisquit {
                display: none;
                background: #EAEAEA;
            }
            .clients__item--dark-purpur {
                display: none;
                background: #282240;
            }
            .clients__item--dark-blue {
                display: none;
                background: #1D4568;
            }
            .clients__item--black {
                display: none;
                background: #000;
            }
        }
        
    }
}

// media 768px
@media screen and (min-width: 768px) {
    .clients {
        .clients__wprapp {
            display: flex;
            flex-wrap: wrap;
            .clients__item {
                width: calc(100% / 3);
                display: flex;
            }    
        }
    }
}

// media 1024px
@media screen and (min-width: 1024px) {
    .clients {
        padding-top: 60px;
        .clients__title {
            padding: 0 0 30px;
        }
        .clients__wprapp {
            .clients__item {
                width: calc(100% / 4);
            }
        }
    }
}

// media 1920px
@media screen and (min-width: 1920px) {
    .clients {
        padding: 60px 5% 0;
        margin-bottom: 60px;
        .clients__title {
            padding: 0 0 30px;
        }
        .clients__wprapp {
        border-radius: 12px;
        overflow: hidden;
        }
    }
}