// media 375px
@media screen and (min-width: 375px) {
    .services {
        padding: 0 8% 60px;
        .services-wrapp {
            .title {
                padding-top: 10px;
                font-size: 1.875rem;
                @include title;
            }
        }
        .services-container {
            display: block;
            .services-container__block {
                padding-top: 30px;
                .services-container__img {
                    width: fit-content;
                    border-radius: 24px;
                    background-color: $mainColorWhite;
                    padding: 14px 4%;
                    .services-container__icon--mod {
                        padding: 9px 2%;
                    }
                }
                .services-container__title {
                    display: block;
                    padding-top: 30px;
                    font-size: 1.375rem;
                    font-weight: 700;
                    color: $primaryColorMod;
                    &:hover {
                        color: $primaryColor;
                        transition: all .3s;
                    }
                }
                .services-container__text {
                    padding-top: 15px;
                    line-height: 26px;
                }
            }
        }
    }
}

// media 768px
@media screen and (min-width: 768px) {
    .services {
        padding:0 8% 60px;
        .services-wrapp {
            .title {
                padding-top: 60px;
                font-size: 2.375rem;
            }
        }
        .services-container {
            display: flex;
            flex-wrap: wrap;
            gap: 0 60px;
            .services-container__block {
                padding-top: 60px;
                width: calc((100% - 60px) / 2);
            }
        }
    }
}

// media 1024px
@media screen and (min-width: 1024px) {
    .services {
        .services-container {
            .services-container__block {
                width: calc((100% - 120px) / 3);
            }
        }
    }
}

// media 1920px
@media screen and (min-width: 1920px) {
    .services {
        padding: 0 8% 60px;
    }
}